node_modules
.angular/cache/18.1.0/uve-users-test/.tsbuildinfo
.angular/cache/18.1.0/vite/deps/_metadata.json
.angular/cache/18.1.0/vite/deps/@angular_common_http.js
.angular/cache/18.1.0/vite/deps/@angular_common_http.js.map
.angular/cache/18.1.0/vite/deps/@angular_common.js
.angular/cache/18.1.0/vite/deps/@angular_common.js.map
.angular/cache/18.1.0/vite/deps/@angular_core.js
.angular/cache/18.1.0/vite/deps/@angular_core.js.map
.angular/cache/18.1.0/vite/deps/@angular_forms.js
.angular/cache/18.1.0/vite/deps/@angular_forms.js.map
.angular/cache/18.1.0/vite/deps/@angular_platform-browser.js
.angular/cache/18.1.0/vite/deps/@angular_platform-browser.js.map
.angular/cache/18.1.0/vite/deps/@angular_router.js
.angular/cache/18.1.0/vite/deps/@angular_router.js.map
.angular/cache/18.1.0/vite/deps/chunk-3OV72XIM.js
.angular/cache/18.1.0/vite/deps/chunk-3OV72XIM.js.map
.angular/cache/18.1.0/vite/deps/chunk-6YZ3EQN4.js
.angular/cache/18.1.0/vite/deps/chunk-6YZ3EQN4.js.map
.angular/cache/18.1.0/vite/deps/chunk-QFP5WVBG.js
.angular/cache/18.1.0/vite/deps/chunk-QFP5WVBG.js.map
.angular/cache/18.1.0/vite/deps/chunk-U567SODG.js
.angular/cache/18.1.0/vite/deps/chunk-U567SODG.js.map
.angular/cache/18.1.0/vite/deps/chunk-WDOAO5K6.js
.angular/cache/18.1.0/vite/deps/chunk-WDOAO5K6.js.map
.angular/cache/18.1.0/vite/deps/package.json
.angular/cache/18.1.0/vite/deps/subsink.js
.angular/cache/18.1.0/vite/deps/subsink.js.map
